*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(24, 17, 24);
    color: white;

}

#header {
    width: 70%;
    height: 115vh;
    background-image: url(images/portrait.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a {
    color: rgb(233, 203, 233);
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 100%;
    height: 5px;
    background:rgb(60, 2, 99);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width:100%;

}