*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(24, 17, 24);
    color: white;

}

#header {
    width: 70%;
    height: 115vh;
    background-image: url(images/portrait.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.namelogo.png {
    width: 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a {
    color: rgb(233, 203, 233);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 5px;
    background:rgb(60, 2, 99);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;

}

.my-title {
    margin-top: 20%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.my-title h1 {
    font-size: 50px;
    margin-top: 20px;
}

.my-title h1 span {
    color:rgb(60, 2, 99);
}

/* It's ABOUT ME time */

#about {
    padding: 80px 0px;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 50%;
}

.about-col-1 img {
    width: 70%;
    border-radius: 25px;
}

.about-col-2 {
    flex-basis: 50%;
}

.about-col-2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.514);
}

.about-col-2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.514);
}

/* Let's spice up that Portfolio */

#portfolio {
    padding: 80px 80px;
    margin: 40px;
    color: white;
}

.portfolio-col-1 {
    flex-basis: 50%;
}

.portfolio-col-1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.514);
}

.portfolio-col-1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.514);
}

/* Let's spice up that contact information */

#contact {
    padding: 80px 80px;
    margin: 40px;
    color: white;  
}

.contact-col-1 {
    flex-basis: 50%;
}

.contact-col-1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.514);
}

.contact-col-1 ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.514);
    list-style: circle;
}